.table-animation{
    opacity: 0; /* Mulai dengan elemen yang tidak terlihat */
    animation: fadeIn 1s ease-in forwards; /* Animasi fade-in selama 1 detik */
}
  
  
@keyframes fadeIn {
    from {
        opacity: 0; /* Mulai dengan opasitas 0 (tidak terlihat) */
    }
    to {
        opacity: 1; /* Akhiri dengan opasitas 1 (terlihat sepenuhnya) */
    }
}