<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sijambu | Books</title>
    </head>
    <body>
        <div class="navbar navbar-upper bg-primary py-2">
            <div class="container">
                <a class="navbar-brand text-light" href="#">SIJAMBU IPAI</a>

                <div class="col-md-6 d-none d-md-flex">
                    <div class="input-group p-2">
                        <button
                            class="btn dropdown-toggle bg-secondary text-light"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            Kategori
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#"
                                    >Action before</a
                                >
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"
                                    >Another action before</a
                                >
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"
                                    >Something else here</a
                                >
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a class="dropdown-item" href="#"
                                    >Separated link</a
                                >
                            </li>
                        </ul>
                        <input
                            type="text"
                            class="form-control"
                            aria-label="Text input with 2 dropdown buttons"
                            placeholder="Pencarian ...."
                        />
                        <button
                            class="btn bg-secondary text-light"
                            type="button"
                        >
                            <i data-feather="search"></i>
                        </button>
                    </div>
                </div>

                <div
                    class="dropdown text-center d-none d-lg-flex"
                    style="background-color: transparent"
                >
                    <a
                        class="nav-link"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <i data-feather="bell"></i>
                    </a>
                    <ul
                        class="dropdown-menu px-3"
                        style="width: 300px; left: -200px"
                    >
                        <li>
                            <p class="dropdown-item fw-bold">Notifikasi</p>
                        </li>
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <p class="m-0" style="font-size: 0.8rem">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Amet quam illo ad aut rerum
                                perspiciatis quis praesentium quisquam quia
                                deserunt numquam cupiditate harum, consequuntur
                                dolorum aspernatur dolore inventore omnis
                                officia?
                                <span class="d-block text-secondary"
                                    >6 Juli 2023</span
                                >
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="d-flex dropdown px-2">
                    <a
                        class="nav-link d-flex justify-content-between align-items-center"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <div class="avatar">
                            <!-- <img
                                src="https://placehold.co/200"
                                alt="avatar"
                                class="img-fluid"
                            /> -->
                            <i data-feather="user"></i>
                        </div>

                        <div class="col text-center">
                            <i data-feather="menu"></i>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="profile.html"
                                >Akun</a
                            >
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Aktivitas</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Keluar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <main>
            <div class="container main-with-left-bar">
                <h3 class="text-center my-3">Buku yang Sedang Dipinjam</h3>

                <p class="fw-bold">Jumlah buku: 3</p>

                <div class="row mt-3">
                    <div class="col-12 col-md-3 d-flex justify-content-center">
                        <img
                            src="http://placeholder.co/120x150"
                            alt="book cover"
                            class=""
                        />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 pl-4 d-flex mt-3">
                        <div>
                            <h4 class="mb-2">Negeri Para Bedebah</h4>
                            <p class="fw-bold mb-1">Tere Liye</p>
                            <p>2012</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-5 d-flex mt-3">
                        <div>
                            <p>
                                <span class="fw-bold">Tanggal Pinjam:</span>
                                <span>4 November, 2023</span>
                            </p>
                            <p>
                                <span class="fw-bold">Tanggal Kembali:</span>
                                <span>11 November, 2023</span>
                            </p>
                            <p>
                                <span class="fw-bold">Status:</span>
                                <span class="badge bg-danger">Telat</span>
                            </p>
                        </div>
                    </div>
                    <hr class="mt-3" />
                </div>

                <div class="row mt-3">
                    <div class="col-12 col-md-3 d-flex justify-content-center">
                        <img
                            src="http://placeholder.co/120x150"
                            alt="book cover"
                            class=""
                        />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 pl-4 d-flex mt-3">
                        <div>
                            <h4 class="mb-2">Negeri Para Bedebah</h4>
                            <p class="fw-bold mb-1">Tere Liye</p>
                            <p>2012</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-5 d-flex mt-3">
                        <div>
                            <p>
                                <span class="fw-bold">Tanggal Pinjam:</span>
                                <span>4 November, 2023</span>
                            </p>
                            <p>
                                <span class="fw-bold">Tanggal Kembali:</span>
                                <span>11 November, 2023</span>
                            </p>
                            <p>
                                <span class="fw-bold">Status:</span>
                                <span class="badge bg-danger">Telat</span>
                            </p>
                        </div>
                    </div>
                    <hr class="mt-3" />
                </div>

                <div class="row mt-3">
                    <div class="col-12 col-md-3 d-flex justify-content-center">
                        <img
                            src="http://placeholder.co/120x150"
                            alt="book cover"
                            class=""
                        />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 pl-4 d-flex mt-3">
                        <div>
                            <h4 class="mb-2">Negeri Para Bedebah</h4>
                            <p class="fw-bold mb-1">Tere Liye</p>
                            <p>2012</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-5 d-flex mt-3">
                        <div>
                            <p>
                                <span class="fw-bold">Tanggal Pinjam:</span>
                                <span>4 November, 2023</span>
                            </p>
                            <p>
                                <span class="fw-bold">Tanggal Kembali:</span>
                                <span>11 November, 2023</span>
                            </p>
                            <p>
                                <span class="fw-bold">Status:</span>
                                <span class="badge bg-danger">Telat</span>
                            </p>
                        </div>
                    </div>
                    <hr class="mt-3" />
                </div>
            </div>
        </main>

        <aside class="left-bar">
            <div class="left-bar-content">
                <a href="#" class="left-bar-link active">
                    <i data-feather="book"></i>
                    <span class="d-none d-md-inline-block ml-4">Dipinjam</span>
                </a>
                <a href="#" class="left-bar-link">
                    <i data-feather="clock"></i>
                    <span class="d-none d-md-inline-block ml-4">Riwayat</span>
                </a>
                <a href="#" class="left-bar-link">
                    <i data-feather="star"></i>
                    <span class="d-none d-md-inline-block ml-4">Favorit</span>
                </a>
            </div>
        </aside>

        <!-- Icons -->
        <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

        <script>
            // icons
            feather.replace();
        </script>
    </body>
</html>
