<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sijambu | Books</title>
    </head>
    <body>
        <div class="navbar navbar-upper bg-primary py-2">
            <div class="container">
                <a class="navbar-brand text-light" href="#">SIJAMBU IPAI</a>

                <div class="d-flex dropdown px-2">
                    <a
                        class="nav-link d-flex justify-content-between align-items-center"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <div class="avatar">
                            <i class="bi bi-person"></i>
                        </div>

                        <div class="col text-center">
                            <i class="bi bi-list"></i>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="profile.html"
                                >Akun</a
                            >
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Aktivitas</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Keluar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <main>
            <div class="container mt-4">
                <h3 class="text-center rounded bg-secondary text-white py-1">
                    Detail Buku
                </h3>
                <div class="text-center">
                    <a href="#" class="d-inline-block">Beranda</a>
                </div>

                <div class="row justify-content-center align-items-center py-2">
                    <div class="col-12 col-md-4 text-center">
                        <img
                            src="http://placehold.co/160x225"
                            alt="Book Cover"
                            class="book-detail-cover"
                        />
                    </div>
                    <div class="col-12 col-md-6 mt-4 mt-md-0">
                        <h3>Islam yang Disalahpahami</h3>
                        <p class="book-author">M.Quraish Shihab</p>

                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit. Facilis voluptatum pariatur repellendus
                            aperiam ipsa illo beatae ratione earum? Dolorum
                            exercitationem temporibus, nisi rerum necessitatibus
                            explicabo quasi eveniet, quisquam animi molestias
                            consectetur totam tenetur? Aut odit aliquam culpa?
                            Voluptatum aut in quasi itaque maiores hic
                            consequuntur illum. Culpa ipsa praesentium
                            distinctio dignissimos maiores unde iure animi
                            similique consequatur. Molestiae hic omnis nihil,
                            animi quod soluta asperiores ex necessitatibus
                            fugiat explicabo sed nobis consectetur, debitis
                            sequi similique quae accusamus non minus odit. Sit
                            fuga animi mollitia quasi repudiandae! Minima cum
                            quisquam beatae omnis deserunt neque illum
                            laudantium impedit, asperiores velit veniam nulla!
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
