<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sijambu | Profile</title>
    </head>
    <body data-source="userProfile">
        <div class="navbar navbar-upper bg-primary py-2">
            <div class="container">
                <a class="navbar-brand text-light" href="#">SIJAMBU IPAI</a>

                <div class="d-flex dropdown px-2">
                    <a
                        class="nav-link d-flex justify-content-between align-items-center"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <div class="avatar">
                            <i class="bi bi-person"></i>
                        </div>

                        <div class="col text-center">
                            <i class="bi bi-list"></i>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="profile.html"
                                >Akun</a
                            >
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Aktivitas</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Keluar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <main>
            <div class="container">
                <div class="row mt-5 pb-5 profile-row">
                    <div class="col-12 col-md-6 left">
                        <profile-card></profile-card>
                    </div>
                    <div class="col-12 col-md-6 mt-3 mt-md-0 right">
                        <div class="card p-4 justify-content-center">
                            <div id="tab-profile">
                                <form action="">
                                    <div class="form-group mb-3">
                                        <label for="fullName" class="mb-2"
                                            >NAMA LENGKAP</label
                                        >
                                        <input
                                            type="text"
                                            id="fullName"
                                            class="form-control"
                                            value="Fajar Sidik Setiawan"
                                            disabled
                                        />
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="NIM" class="mb-2"
                                            >NIM</label
                                        >
                                        <input
                                            type="text"
                                            id="NIM"
                                            class="form-control"
                                            value="2010031"
                                            disabled
                                        />
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="email" class="mb-2"
                                            >E-Mail</label
                                        >
                                        <input
                                            type="email"
                                            id="email"
                                            class="form-control"
                                            value="fajar@upi.edu"
                                            disabled
                                        />
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="phone" class="mb-2"
                                            >No. Handphone</label
                                        >
                                        <input
                                            type="number"
                                            id="phone"
                                            class="form-control"
                                            value="081910514970"
                                            disabled
                                        />
                                    </div>
                                </form>
                            </div>

                            <div class="d-none" id="tab-change-password">
                                <form action="" id="form-change-password">
                                    <div class="form-group mb-3">
                                        <label for="oldPassword" class="mb-2"
                                            >Kata Sandi Lama</label
                                        >
                                        <input
                                            type="password"
                                            id="oldPassword"
                                            class="form-control"
                                            required
                                        />
                                        <div class="invalid-feedback">
                                            Kata sandi salah
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="newPassword" class="mb-2"
                                            >Kata Sandi Baru</label
                                        >
                                        <input
                                            type="password"
                                            id="newPassword"
                                            class="form-control"
                                            required
                                        />
                                        <div class="invalid-feedback">
                                            Konfirmasi kata sandi salah atau
                                            tidak cocok
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label
                                            for="confirmNewPassword"
                                            class="mb-2"
                                            >Konfirmasi Kata Sandi Baru</label
                                        >
                                        <input
                                            type="password"
                                            id="confirmNewPassword"
                                            class="form-control"
                                            required
                                        />
                                    </div>
                                    <div
                                        class="form-group d-flex justify-content-end"
                                    >
                                        <button
                                            type="submit"
                                            class="btn bg-secondary text-white"
                                        >
                                            Simpan
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script>
            const formChangePassword = document.querySelector(
                "#form-change-password"
            );
            formChangePassword.addEventListener("submit", (e) => {
                e.preventDefault();

                alert("oke");
            });
        </script>
    </body>
</html>
