$bp-tablet: 768px;
$bp-mobile: 425px;

$primary: #393646;
$secondary: #4c485c;
$background: #f6ffde;

.bg-primary {
    background-color: $primary !important;
}

.bg-secondary {
    background-color: $secondary !important;
}

.bg-background {
    background-color: $background !important;
}

.modal-content {
    border-radius: 0;
    border: none;

    .modal-header {
        display: block;
        text-align: center;
        padding-block: 5px;
        border-radius: 0;

        position: relative;

        .btn-close {
            position: absolute;
            left: 10px;
            top: 75%;
            // bottom: 50%;
            transform: translateY(-50%);
            font-size: 12px;
        }
    }
}

// admin pages
$form-select-indicator-color: white;

.navbar {
    background-color: #717070;
    padding: 0;

    .dropdown {
        background-color: white;
        padding-block: 0.3rem;
        border-radius: 35px;
        width: 120px;

        a {
            width: 100%;
            .avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
            }
        }

        .dropdown-menu {
            left: -50px;
        }
    }

    &.navbar-lower {
        .nav-link {
            color: white;
            padding: 1rem;

            &.active,
            &:hover {
                background-color: rgba($color: #fff, $alpha: 0.3);
            }
        }
    }

    .navbar-nav {
        width: 100%;
        flex-direction: row;
    }

    @media screen and (max-width: $bp-mobile) {
        .navbar-nav {
            justify-content: space-between;
        }
    }
}

.btn-admin-close {
    position: absolute;
    left: 10px;
    background: none;
    outline: none;
    border: none;
    color: white;
}

.custom-form-control {
    background-color: lightgray;
}

.image-cover {
    position: relative;
    display: inline-block;

    .image-cover-button {
        position: absolute;
        right: -15px;
        bottom: -15px;
    }
}
