aside-canvas {
    .filterCheck {
        background: rgba($color: #000, $alpha: 1);
        width: 1rem;
        height: 1rem;

        &:hover {
            cursor: pointer;
        }
    }

    .btn-filter-submit {
        color: white;

        position: absolute;
        bottom: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
    }
}
