.left-bar {
    &.show {
        left: 0;
    }

    position: fixed;
    top: 0;
    z-index: 2;
    bottom: 0;
    top: 4.7rem;
    transition: 0.4s;
    background-color: #f4ece5;
    padding-block: 1rem;

    .left-bar-link {
        display: block;
        color: black;
        padding: 1rem;
        text-decoration: none;

        &.active {
            background-color: #fed4af;
        }

        &:hover {
            background-color: #fed4af;
        }

        span {
            margin-left: 10px;
        }
    }
}

.main-with-left-bar {
    margin: auto;
    padding-left: 85px;
    width: 80%;
    max-width: 100%;
}

@media screen and (max-width: $bp-sm) {
    .main-with-left-bar {
        width: 95%;
        padding-left: 55px;
    }
}
